/.vs/j/v14
/Debug
/petool/Debug
/petool/x64/Debug
/petool.VC.VC.opendb
/test-dll/x64/Debug
/petool/x64/Release
/test-dll/x64/Release
/watch-de-memory/x64/Debug
/watch-de-memory/x64/Release
/x64/Debug
/x64/Release
/watch-de-memory.dll
/*.dis
/*.dumpdis
/instrumented
/petool/petool.7z
/.vs/js/v14/.suo
/.vs/petool/v14/.suo
/VisDiff.exe
/edit.txt
/editj.txt
/editj2.txt
/editv.txt
/j.txt
/petool.VC.db
/petool.dis2
/petool.mydis
/petool.sdf
/*.suo
